<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Maintenance Page</title>
	</head>
	<body>
		<h1>Maintenance Ongoing</h1>
		<p>site currently being updated</p>

		{{> footer}}
	</body>
</html>